.button1{
  color:black;
  background-color:rgb(255,216,20);
  height:28px;
  width:108px;
  cursor:pointer;
  border:none;
  border-radius:15px;
  font-weight: 600;
  font-size: small;
 }
 .button2{
  color:black;
  background-color:rgb(255, 164, 28);
  height:28px;
  width: 108px;
  cursor:pointer;
  border:none;
  border-radius:15px;
  font-weight: 600;
  font-size: small;
 }
 .link{
  color:rgb(0,113,133);
 }
 .stock{
  color:rgb(0,118,0);
  font-weight:800;
 }
 .nike{
  font-weight:950;
  font-size:x-large;
 }
 .free{
  font-weight:500;
 }